/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font: 12px/14px "Trebuchet MS", Helvetica, sans-serif;
	color: #444;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* clearfix */
#header .holder:after,
.navbar:after,
#footer:after,
#footer .frame:after,
.menu-columns:after,
.main-holder:after,
.widget .title:after,
.widget .entry:after,
.news .item-title:after,
.cities:after,
.contact-block:after,
.contact-form .row:after,
.city-inner:after {
	content: '';
	display: block;
	clear: both;
}
/* wrapper */
#wrapper {
    margin: 0 auto;
	min-width: 976px;
    max-width: 1024px;
	padding: 0 0 18px;
	background: url(../images/bg-sky.jpg) no-repeat 50% 0;
	position: relative;
}
#wrapper > div {
    margin-left: auto;
    margin-right: auto;
    width: 976px;
}
#wrapper:after {
    content: '';
    position: absolute;
    left: 0;
    top: 181px;
    height: 349px;
    width: 100%;
    background: url(../images/bg-body.gif) repeat-x;
    z-index: 0;
}
/* header */
#header {
	height: 181px;
    margin: 0 0 12px;
}
#header .holder {
	padding: 12px 0 11px;
}
.logo {
	float: left;
}
.logo img {
	vertical-align: top;
}
#header .title {
	float: left;
	margin: 30px 0 0 24px;
	color: #082a65;
	font: 14px/17px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	-webkit-text-shadow: 1px 1px 1px #fff;
	-moz-text-shadow: 1px 1px 1px #fff;
	text-shadow: 1px 1px 1px #fff;
}
#header .title .bold {
	font-size: 21px;
	line-height: 22px;
	font-weight: bold;
}
#header .contact-info {
	float: right;
	margin: 18px 0 0 0;
	padding: 2px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
}
#header .contact-info:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 170px;
	width: 1px;
	background: #c4c3c3;
	border-right: 1px solid rgba(255,255,255,0.65);
}
#header .contact-info > div {
	display: table-cell;
	margin: 0 0 15px;
	vertical-align: middle;
}
#header .contact-info > div:first-child {
	margin-left: 0;
}
.contact-info .phones {
	background: url(../images/ico-phone.png) no-repeat 0 50%;
	padding: 0 36px 4px 46px;
}
.contact-info .mail {
	background: url(../images/ico-email.png) no-repeat 0 65%;
	padding: 0 5px 4px 46px;
}
.contact-info .caption {
	display: block;
	margin: 0 0 6px;
	color: #4172c4;
}
.contact-info ul {
	font-size: 13px;
	line-height: 17px;
	padding: 0 0 0 10px;
	color: #5f5e5e;
}
.contact-info ul a {
	color: #5f5e5e;
}
.contact-info .code {
	font-weight: bold;
	font-size: 11px;
	color: #121212;
}
/* navbar */
.navbar {
	color: #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: rgb(30,87,153); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNjRiMWRmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNlNmRjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMDdjY2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(100,177,223,1) 0%, rgba(62,109,194,1) 100%, rgba(32,124,202,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(100,177,223,1)), color-stop(100%,rgba(62,109,194,1)), color-stop(100%,rgba(32,124,202,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(100,177,223,1) 0%,rgba(62,109,194,1) 100%,rgba(32,124,202,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(100,177,223,1) 0%,rgba(62,109,194,1) 100%,rgba(32,124,202,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(100,177,223,1) 0%,rgba(62,109,194,1) 100%,rgba(32,124,202,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(100,177,223,1) 0%,rgba(62,109,194,1) 100%,rgba(32,124,202,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=0 ); /* IE6-8 */
	-webkit-box-shadow: 1px 2px 1px 0px #c6cbcf;
	-moz-box-shadow:    1px 2px 1px 0px #c6cbcf;
	box-shadow:         1px 2px 1px 0px #c6cbcf;
}
#menu {
	float: left;
	font-size: 14px;
	text-transform: uppercase;
}
#menu li {
	float: left;
	padding: 0 10px;
	background: url(../images/nav-separator.png) no-repeat 0 50%;
}
#menu li:first-child {
	background: none;
}
#menu a {
	color: #fff;
	display: block;
	padding: 17px 18px;
	text-decoration: none;
    -webkit-text-shadow: 1px 1px 1px #333;
    -moz-text-shadow: 1px 1px 1px #333;
    text-shadow: 1px 1px 1px #333;
}
#menu a:hover,
#menu .active a {
	background: rgb(30,87,153); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmFkMzdmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q2YjQ2OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZTZkYzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(250,211,127,1) 0%, rgba(214,180,105,1) 100%, rgba(62,109,194,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(250,211,127,1)), color-stop(100%,rgba(214,180,105,1)), color-stop(100%,rgba(62,109,194,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(250,211,127,1) 0%,rgba(214,180,105,1) 100%,rgba(62,109,194,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(250,211,127,1) 0%,rgba(214,180,105,1) 100%,rgba(62,109,194,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(250,211,127,1) 0%,rgba(214,180,105,1) 100%,rgba(62,109,194,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(250,211,127,1) 0%,rgba(214,180,105,1) 100%,rgba(62,109,194,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#3e6dc2',GradientType=0 ); /* IE6-8 */
}
/* search form */
.search-form {
	float: right;
	margin: 13px 14px 0 0;
}
.search-form input[type=text] {
	float: left;
	width: 100px;
	padding: 3px 6px;
	margin: 0 9px 0 0;
	color: #b2b1b1 !important;
	font-size: 11px;
	color: #fff;
	border: 1px solid #7295b0;
	-webkit-box-shadow: inset 0px 0px 5px 0px #bbb;
	-moz-box-shadow:    inset 0px 0px 5px 0px #bbb;
	box-shadow:         inset 0px 0px 5px 0px #bbb;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.search-form input[type=submit] {
	float: left;
	font-size: 11px;
	padding: 3px 4px;
	margin: 0;
	color: #4071c4;
	border: 1px solid #7295b0;
	background: #efefef;
	cursor: pointer;
}
/* main */
#main {
    position: relative;
    z-index: 1;
}
.main-holder + .article {
    margin-top: -16px;
}
/* sidebar */
#sidebar {
    float: right;
    width: 205px;
    padding: 9px 0 0;
    margin: 0 0 -10px;
}
/* widget */
.widget {
    margin: 0 0 22px;
}
.widget .title {
    padding: 9px 12px 9px 15px;
    -webkit-text-shadow: 1px 1px 1px #333;
    -moz-text-shadow: 1px 1px 1px #333;
    text-shadow: 1px 1px 1px #333;
    background: rgb(30,87,153); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNjRiMWRmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNlNmRjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMDdjY2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(100,177,223,1) 0%, rgba(62,109,194,1) 100%, rgba(32,124,202,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(100,177,223,1)), color-stop(100%,rgba(62,109,194,1)), color-stop(100%,rgba(32,124,202,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(100,177,223,1) 0%,rgba(62,109,194,1) 100%,rgba(32,124,202,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(100,177,223,1) 0%,rgba(62,109,194,1) 100%,rgba(32,124,202,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(100,177,223,1) 0%,rgba(62,109,194,1) 100%,rgba(32,124,202,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(100,177,223,1) 0%,rgba(62,109,194,1) 100%,rgba(32,124,202,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=0 ); /* IE6-8 */
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.widget.style2 .title {
    background: rgb(30,87,153); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmFkMzdmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q2YjQ2OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZTZkYzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(250,211,127,1) 0%, rgba(214,180,105,1) 100%, rgba(62,109,194,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(250,211,127,1)), color-stop(100%,rgba(214,180,105,1)), color-stop(100%,rgba(62,109,194,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(250,211,127,1) 0%,rgba(214,180,105,1) 100%,rgba(62,109,194,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(250,211,127,1) 0%,rgba(214,180,105,1) 100%,rgba(62,109,194,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(250,211,127,1) 0%,rgba(214,180,105,1) 100%,rgba(62,109,194,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(250,211,127,1) 0%,rgba(214,180,105,1) 100%,rgba(62,109,194,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#3e6dc2',GradientType=0 ); /* IE6-8 */
}
.widget .title .caption {
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
}
.widget .all-news,
.widget .all-questions{
    float: right;
    color: #fff;
    text-decoration: none;
}
.widget .all-news {
    margin: 3px 0 0;
    font-size: 10px;
}
.widget .all-questions {
    margin: 3px -6px 0 0;
    font-size: 12px;
}
.widget .title a:hover {
    text-decoration: underline;
}
.widget .entry {
    overflow: hidden;
    background: #f4f4f4;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.widget .entry a {
    color: #4174c5;
}
/* news */
.news .item {
    border-top: 1px solid #dadbdb;
    padding: 12px 15px 9px;
    position: relative;
}
.news .item:first-child {
    border-top: none;
}
.news .item:before {
    content: '';
    position: absolute;
    height: 1px;
    background: #fff;
    width: 100%;
    top: 0;
    left: 0;
}
.news .item:first-child:before {
    display: none;
}
.news .item-title {
    margin: 0 0 10px;
}
.news .item .photo {
    float: left;
    margin: 2px 10px 0 0;
}
.news .item .photo img {
    vertical-align: top;
}
.news .date {
    display: block;
    font-size: 10px;
    color: #888;
}
.news .caption {
    font-size: 14px;
}
.news .caption a {
    text-decoration: underline;
}
.news .caption a:hover {
    text-decoration: none;
}
.news .item-entry {
    line-height: 14px;
}
.news .more {
    text-align: right;
    padding: 0 14px 0 0;
}
/* questions */
.questions .item {
    padding: 16px 15px 21px;
    color: #575757;
    font-size: 14px;
}
.questions .item:nth-child(even) {
    background: #e1e1e1;
}
.questions .item-title {
    margin: 0 0 10px;
}
.questions .date {
    display: block;
    color: #050505;
    margin: 0 0 3px;
}
.questions .caption {
    display: block;
    font-weight: bold;
    font-style: italic;
}
/* content */
#content {
    float: left;
    width: 756px;
}
/* breadcrumbs */
.breadcrumbs {
    color: #888;
    margin: 0 0 8px;
}
.breadcrumbs span,
.breadcrumbs ul,
.breadcrumbs li {
    display: inline;
}
.breadcrumbs a {
    color: #4174c5;
}
.breadcrumbs li {
    background: url(../images/separator.png) no-repeat 0 50%;
    padding: 0 0 0 10px;
}
.breadcrumbs li:first-child {
    background: none;
    padding-left: 0;
}
/* cities */
.cities {
    background: url(../images/bg-sat.jpg) no-repeat 50% 0;
    padding: 31px 0 20px;
    min-height: 342px;
}
.city {
    float: left;
    text-align: center;
}
.cities .city {
    padding: 0 0 0 50px;
}
.cities .city:first-child {
    padding-left: 0;
}
.city .caption {
    display: block;
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    -webkit-text-shadow: 3px 3px 3px #333;
    -moz-text-shadow: 1px 1px 1px #333;
    text-shadow: 1px 1px 2px #333;
}
.city .caption a {
    color: #4275c5;
}
.city .photo {
    min-height: 224px;
    margin: 0 0 14px;
}
.city .photo img {
    vertical-align: middle;
}
.city-inner {
    margin: 0 0 18px;
}
.city-inner .city {
    padding: 28px 12px 0 0;
}
.city-inner .services .item {
    width: 223px;
}
.city-inner .services {
    float: right;
    width: 454px;
    margin: -12px 0 0;
}
.city-inner .services .widget {
    margin: 0 0 5px;
}
.city-inner .services .widget .entry {
    min-height: initial;
    padding: 2px;
}
.city-inner .services .widget .title {
    padding-left: 6px;
    padding-right: 6px;
}
.city-inner .services .widget .photo {
    padding: 0;
    text-align: center;
    width: 219px;
    height: 110px;
}
.city-inner .services .widget .photo img {
    /*width: auto;
    max-height: 92px;*/
}
/* services */
.services .item {
    display: inline-block;
    vertical-align: top;
    width: 374px;
    margin: 0 2px 5px 0;
}
.services .widget .entry {
    padding: 11px 10px 8px 4px;
    min-height: 140px;
}
.services .widget .photo img {
    vertical-align: middle;
}
.services .widget .photo,
.services .widget .text {
    display: table-cell;
}
.services .widget .photo {
    vertical-align: middle;
    text-align: center;
    padding: 0 2px 0 0;
    width: 170px;
}
.services .widget .text {
    line-height: 14px;
    vertical-align: middle;
}
.services .widget .text a {
    text-decoration: underline;
}
.services .widget .text a:hover {
    text-decoration: none;
}
.services .widget ul li {
    position: relative;
    padding: 0 0 0 8px;
}
.services .widget ul li:after {
    content: '>';
    position: absolute;
    left: -6px;
    top: -1px;
    color: #3f70c3;
}
.services .service-item {
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    display: block;
}
/* article */
.article .widget {
    margin: 0 0 14px;
}
.article .widget .entry {
    padding: 12px 20px 8px 15px;
}
.article .photo {
    margin: 4px 0 0;
}
.article .photo img {
    border: 2px solid #d3d3d3;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.article .entry .caption {
    display: block;
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 13px;
    color: #4376c6;
}
.article .entry p {
    margin: 0 0 24px;
}
.article .alignleft {
    float: left;
    margin-right: 14px;
}
.article .alignright {
    float: right;
    margin-left: 14px;
}
/* contacts */
.contacts {
	padding: 7px 0 0;
}
.contacts .widget {
	margin: 0 0 10px;
}
.contacts .widget .entry {
	padding: 16px 13px 12px 5px;
}
.contact-block .map-holder {
	float: right;
	margin: 0 0 0 10px;
	width: 377px;
	height: 354px;
	border: 2px solid #d3d3d3;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
.contact-block .map-holder img {
	vertical-align: top;
}
.contact-block .info {
	color: #444;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 0 24px 11px;
}
.contact-block .address {
	overflow: hidden;
}
.contact-block .address dt {
	float: left;
	font-weight: bold;
	color: #4274c5;
	padding: 0 4px 6px 0;
	min-width: 90px;
}
.contact-block .address dd {
	float: left;
	padding: 0 0 6px;
	clear: right;
}
.contact-form {
	overflow: hidden;
	padding: 4px 0 0;
}
.contact-form .row {
	margin: 0 0 3px;
}
.contact-form .row.area-row {
	padding: 5px 0 0;
	margin-bottom: 6px;
}
.contact-form label {
	float: left;
	text-align: right;
	font-size: 12px;
	width: 102px;
	padding: 6px 2px 0 0;
}
.contact-form .row.area-row label {
	padding-top: 2px;
}
.contact-form input[type=text],
.contact-form textarea{
	float: right;
	width: 232px;
	border: 1px solid #c7c8c8;
	margin: 0;
	padding: 5px 4px;
}
.contact-form textarea {
	overflow: auto;
	height: 95px;
	resize: none;
}
.contact-form input[type=submit] {
	float: right;
	width: 240px;
	margin: 0 1px 0 0;
	padding: 6px 6px 4px;
	background: #4274c5;
	text-align: center;
	text-transform: uppercase;
	font: 12px/16px "Trebuchet MS", Helvetica, sans-serif;
	color: #fff;
	border: 0;
	cursor: pointer;
}
/* footer */
#footer {
	width: 953px !important;
    background: url(../images/bg-footer.gif);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 13px 9px 0 14px;
    position: relative;
    z-index: 1;
}
#footer .counters {
	float: right;
}
#footer .counters li {
	margin: 0 0 11px;
}
#footer .counters img {
	vertical-align: top;
}
#footer .holder {
	overflow: hidden;
    padding: 0 26px 0 0;
}
#footer .menu {
	font-size: 14px;
	text-transform: uppercase;
	overflow: hidden;
	margin: 0 0 4px;
}
#footer .menu li {
	float: left;
	margin: 0 14px 0 0;
}
#footer .menu a {
	color: #212121;
}
#footer .menu-columns {
    padding: 14px 0 0;
}
#footer .menu-columns ul {
	float: left;
	width: 100px;
	padding: 0 15px 0 0;
}
#footer .menu-columns li {
	padding: 0 0 0 6px;
	position: relative;
}
#footer .menu-columns li:after {
	content: '';
	position: absolute;
	left: 0;
	top: 7px;
	width: 3px;
	height: 1px;
	background: #888;
}
#footer .menu-columns a {
	color: #888;
}
#footer .copyright {
    float: right;
    font: 11px/17px Arial, Helvetica, sans-serif;
    color: #040404;
    text-align: right;
}
#footer .copyright a {
    color: #040404;
}
.made-by {
    font-size: 11px;
    line-height: 9px;
    position: relative;
    text-indent: 12px;
    text-decoration: underline;
    background: url(../images/bg-arrow.png) no-repeat 0 6px;
}